/* CSS Styles for data-design_linkedin_endorsements*/


/* Main Content */

body {
	font-family: sans-serif;
	color: black;

}

/* Top Banner
- logo
- background color behind logo
- headline
- black band
*/

.topBanner {
	background-color: black;
	width: auto;
	height: 70px;
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;
}

.logo {
	width:44px;
	height:36px;
	margin: 5px;
	padding: 15px;
}

.topBannerHeadline {
	color: white;
	font-size: 20px;
}

.blackBand {
	background-color: black;
	width: auto;
	height: 25px;

}

/* Profile Photo*/

.profileImage {
	border-radius: 50% 50% 50% 50%;
	width: 80px;
	height: 80px;
	padding: 5px;
	margin: 10px;
	background-color: white;
}

.profileAuthor {
	color: white;
	vertical-align: middle;
}


/* Section Background*/

.main-container{
	background-color: black;
	width: auto;
	height: auto;
	padding-bottom: 30px;
	opacity: .1;
	filter: alpha(opacity=10); /* For IE8 and earlier */;

}

/* Flexbox description blocks*/


.flexItem2 {
	background: white;
	margin-left: 20px;
	margin-bottom: 25px;
	padding: 30px;
	width: 80%;
	height: auto;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;

}



