/* CSS Styles for data-design_linkedin_endorsements*/

/* Top Banner
-logo
- background color
*/

.top banner {
	background-color: black;
	width: auto
	height: 20px


}

/* Main Content */

body {
	font-family: sans-serif;


}

