/* CSS Styles for data-design_linkedin_endorsements*/


/* Main Content */

body {
	font-family: sans-serif;
	color: black;

}

h1, h2{
	color: black;
	margin-top: 50px;
	margin-left: 25px;
	margin-bottom: 5px;
	padding-left: 5px;

}



/* Top Banner
- logo
- background color behind logo
- headline
- black band
*/

.topBanner {
	background-color: black;
	width: auto;
	height: 70px;
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;
}

.logo {
	width:44px;
	height:36px;
	margin: 5px;
	padding: 15px;
}

.topBannerHeadline {
	color: white;
	font-size: 20px;
}

.blackBand {
	background-color: black;
	width: auto;
	height: 25px;

}

/* Profile Photo*/

.profileImage {
	border-radius: 50% 50% 50% 50%;
	width: 80px;
	height: 80px;
	margin: 5px;
	background-color: white;
}

.profileAuthor {
	color: white;
	vertical-align: middle;
}


/* Section Background*/

.main-container{
	background-color: gray;
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;
	width: auto;
	height: auto;
	padding-bottom: 30px;

}

/* Flexbox description blocks*/


.flexItem1 {
	background: white;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	width: 70%;
	height: auto;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}


/* Entity–Relationship Models*/


.imageERM {
	padding: 5px;
	width: auto;
	height: auto;

}



